* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/background.jpg');  /* Substitua com o caminho da sua imagem */
    background-size: cover;                         /* Faz a imagem cobrir toda a tela */
    background-position: center;                    /* Centraliza a imagem */
    background-repeat: no-repeat;                   /* Impede que a imagem se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;                                  /* Garante que o fundo cubra toda a altura da tela */
}

#container {
    background-image: url('./assets/grid.png');
    background-size: auto;                         /* Mantém o tamanho original da imagem */
    background-position: center;                    /* Centraliza a imagem */
    background-repeat: no-repeat;                   /* Impede que a imagem se repita */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px; /* Largura do container */
    height: 800px; /* Altura do container */
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(3, 128px);
    gap: 40px; /* Espaçamento entre as divs */
}

/* Estilização das divs individuais, se necessário */
.parent > div {
    text-align: center; /* Centralizar o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Esconder o conteúdo que ultrapassa a div */
}

.parent img {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

@keyframes spin {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

#account{
    display: flex;
    justify-content: space-around;
    width: 500px;
    flex-direction: row;
}