* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/background.jpg'); 
    background-size: cover;                        
    background-position: center;                 
    background-repeat: no-repeat;                 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;       
}                          

#container {
    background-image: url('./assets/grid.png');
    background-size: auto;                         
    background-position: center;                    
    background-repeat: no-repeat;                  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px; /* Largura do container */
    height: 800px; /* Altura do container */
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(3, 128px);
    gap: 40px; /* Espaçamento entre as divs */
}

/* Estilização das divs individuais, se necessário */
.parent > div {
    text-align: center; /* Centralizar o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Esconder o conteúdo que ultrapassa a div */
}

.parent img {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

@keyframes spin {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

#account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    flex-direction: row;
    background-color: #222;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
}

#account h2 {
    margin: 0;
}

#btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#account button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

#account button:hover {
    background-color: #555;
    cursor: pointer;
}

.plusminus {
    display: flex;
    flex-direction: row;
}

.plusminus button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0;
    font-size: 20px;
    line-height: 1;
}